<section class="generated-content">
  <div class="content">
    <div class="gen-con-col1">
      <div class="gen-con-col1-row1">
        <!-- Main Stats -->
        <h2>Main Stats</h2>
        <div class="col1-grid main-stats">
          <div class="stat">
            <span class="material-symbols-outlined"> favorite </span>
            <p class="label">HP</p>
            <p class="value">94</p>
          </div>
          <div class="stat">
            <span class="material-symbols-outlined"> shield </span>
            <p class="label">AC</p>
            <p class="value">24</p>
          </div>
          <div class="stat">
            <span class="material-symbols-outlined"> visibility </span>
            <p class="label">Perception</p>
            <p class="value">19</p>
          </div>
          <div class="stat">
            <span class="material-symbols-outlined"> star </span>
            <p class="label">Class DC</p>
            <p class="value">21</p>
          </div>
        </div>
      </div>
      <div class="gen-con-col1-row2">
        <!-- Saving Throws -->
        <h2>Saving Throws</h2>
        <div class="col1-grid saving-throws">
          <div class="stat">
            <p class="label">Fortitude</p>
            <p class="value">94</p>
          </div>
          <div class="stat">
            <p class="label">Reflex</p>
            <p class="value">24</p>
          </div>
          <div class="stat">
            <p class="label">Will</p>
            <p class="value">19</p>
          </div>
        </div>
      </div>
      <div class="gen-con-col1-row3">
        <!-- Attribute Modifiers -->
        <h2>Attribute Modifiers</h2>
        <div class="col1-grid attr-mods">
          <div class="stat">
            <p class="label">Stregth</p>
            <p class="value">+2</p>
          </div>
          <div class="stat">
            <p class="label">Dexterity</p>
            <p class="value">+2</p>
          </div>
          <div class="stat">
            <p class="label">Constitution</p>
            <p class="value">+0</p>
          </div>
          <div class="stat">
            <p class="label">Intelligence</p>
            <p class="value">+3</p>
          </div>
          <div class="stat">
            <p class="label">Wisdom</p>
            <p class="value">+3</p>
          </div>
          <div class="stat">
            <p class="label">Charisma</p>
            <p class="value">+3</p>
          </div>
        </div>
      </div>
      <div class="gen-con-col1-row4">
        <!-- Skills -->
        <h2>Skills</h2>
        <div class="col1-grid skills">
          <div class="skill-holder">
            <p class="skill">Athletics</p>
            <p class="skill-mod">+2</p>
          </div>
          <div class="skill-holder">
            <p class="skill">Acrobatics</p>
            <p class="skill-mod">+2</p>
          </div>
          <div class="skill-holder">
            <p class="skill">Athletics</p>
            <p class="skill-mod">+2</p>
          </div>
          <div class="skill-holder">
            <p class="skill">Athletics</p>
            <p class="skill-mod">+2</p>
          </div>
          <div class="skill-holder">
            <p class="skill">Acrobatics</p>
            <p class="skill-mod">+2</p>
          </div>
          <div class="skill-holder">
            <p class="skill">Athletics</p>
            <p class="skill-mod">+2</p>
          </div>
        </div>
      </div>
      <div class="gen-con-col1-row5">
        <!-- Languages -->
        <h2>Languages</h2>
        <div class="col1-grid languages">
          <div class="lang-holder">
            <p class="language">Taldane (Common)</p>
          </div>
          <div class="lang-holder">
            <p class="language">Gnomish</p>
          </div>
          <div class="lang-holder">
            <p class="language">Jotun</p>
          </div>
          <div class="lang-holder">
            <p class="language">Dwarven</p>
          </div>
          <div class="lang-holder">
            <p class="language">Draconic</p>
          </div>
        </div>
      </div>
      <div class="gen-con-col1-row6">
        <!-- Speeds -->
        <h2>Speeds</h2>
        <div class="col1-grid speeds">
          <div class="speed-holder">
            <p class="speed">Land</p>
            <span class="material-symbols-outlined speed-icon">
              directions_run
            </span>
            <p class="speed-value">20 ft</p>
          </div>
          <div class="speed-holder">
            <p class="speed">Flight</p>
            <span class="material-symbols-outlined speed-icon"> raven </span>
            <p class="speed-value">40 ft</p>
          </div>
          <div class="speed-holder">
            <p class="speed">Swim</p>
            <span class="material-symbols-outlined speed-icon"> pool </span>
            <p class="speed-value">0 ft</p>
          </div>
          <div class="speed-holder">
            <p class="speed">Burrow</p>
            <span class="material-symbols-outlined speed-icon">
              elevation
            </span>
            <p class="speed-value">0 ft</p>
          </div>
          <div class="speed-holder">
            <p class="speed">Climb</p>
            <span class="material-symbols-outlined speed-icon">
              landscape
            </span>
            <p class="speed-value">5 ft</p>
          </div>
        </div>
      </div>
    </div>
    <div class="gen-con-col2">
      <div class="gen-con-col2-row1">
        <!-- Actions -->
        <h2>Actions</h2>
        <div class="actions">
          <div class="action-holder">
            <div class="action-main">
              <p class="action-name">Action 1</p>
              <p class="pf-icon">2</p>
              <p class="action-desc">New attack</p>
            </div>
            <div class="action-extras attack">
              <div class="attack-1">
                <p class="attack-1-desc">+18 Strike</p>
              </div>
              <div class="attack-2">
                <p class="attack-2-desc">+14 (MAP -4)</p>
              </div>
              <div class="attack-3">
                <p class="attack-3-desc">+10 (MAP -8)</p>
              </div>
            </div>
          </div>
          <div class="action-holder">
            <div class="action-main">
              <p class="action-name">Reaction 1</p>
              <p class="pf-icon">R</p>
              <p class="action-desc">New reaction</p>
            </div>
            <div class="action-extras"></div>
          </div>
        </div>
      </div>
      <div class="gen-con-col2-row2">
        <!-- Spells -->
        <div class="spells-header">
          <h2>Spells</h2>
          <h3>Spontaneous - divine - Wisdom</h3>
        </div>
        <div class="spells">
          <div class="spell-rank">
            <p class="rank-name">Cantrips</p>
            <div class="spell-holder">
              <p class="spell-name">Cantrip 1</p>
              <p class="pf-icon">3</p>
              <p class="spell-desc">New Cantrip</p>
            </div>
            <div class="spell-holder">
              <p class="spell-name">Cantrip 2</p>
              <p class="pf-icon">2</p>
              <p class="spell-desc">New Cantrip</p>
            </div>
          </div>
          <div class="spell-rank">
            <p class="rank-name">1st Level</p>
            <div class="spell-holder">
              <p class="spell-name">Spell 1</p>
              <p class="pf-icon">r</p>
              <p class="spell-desc">New Spell</p>
            </div>
            <div class="spell-holder">
              <p class="spell-name">Spell 2</p>
              <p class="pf-icon">1</p>
              <p class="spell-desc">New Spell</p>
            </div>
          </div>
        </div>
      </div>
      <div class="gen-con-col2-row3">
        <!-- Inventory -->
        <h2>Inventory</h2>
        <div class="inventory">
          <div class="treasure-holder">
            <h3 class="treasure-title">Treasure</h3>

            <p class="platinum coin">22 PP</p>
            <p class="gold coin">10 GP</p>
            <p class="silver coin">5 SP</p>
            <p class="copper coin">12 CP</p>
          </div>
          <div class="equipment-holder">
            <h3 class="equipment-title">Equipment</h3>
            <h3 class="equipment-title">Value</h3>
            <h3 class="equipment-title">Qty</h3>
            <h3 class="equipment-title">Bulk</h3>
            <div class="equip-table">
              <div class="item-holder">
                <p class="item-name">Sword</p>
                <p class="item-value">1gp</p>
                <p class="item-qty">1</p>
                <p class="item-bulk">1l</p>
              </div>
              <div class="item-holder">
                <p class="item-name">Sombrero</p>
                <p class="item-value">25gp</p>
                <p class="item-qty">1</p>
                <p class="item-bulk">N</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
